@page "/aboutme"

<main>
    
    @* https://getbootstrap.com/docs/5.0/utilities/spacing/ *@
    @* Information about py-4, p-5, etc can be found on the above link. *@
    <div class="container py-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="pe-5 pt-0 pb-5">
                <img src="assets/Headshot2020.jpg" alt="Headshot" class="img-fluid float-end col-3      "/>
            </div>
            <div class="container-fluid py-5">

                <h1 class="display-5 fw-bold">Welcome!</h1>
                <p class="col-md-8 fs-4">Welcome to my website! It's a bit of a mess, but hopefully it should serve as a living example of my web dev progress.</p>
                <p class="col-md-8 fs-4">This text represents a new paragraph!</p>
                <button class="btn btn-primary btn-lg" type="button">Example button</button>
            </div>

        </div>
    </div>
</main>