@page "/"

<PageTitle>Matt's Landing Page</PageTitle>

<div class="jumbotron">
    <div>
        <div class="container-fluid">
            <h1 class="display-4">Welcome to my site!</h1>
            <div class="container align-items-start">
                <p class="lead text-left">Welcome to my personal site. I hope to use this as a place where you can learn more about me, my projects, and my ideas.</p>
                <p class="lead text-left">I am just learning web development, so many aspects of this website won't be perfect. I hope that this place can serve as a living example of my progression!</p>
            </div>
            <div class="container">
                <img src="/Images/Headshot2020.jpg" class="img-fluid" alt="Image of Matt Marlow"/>
            </div>
        </div>
        
    </div>
</div>
<div class="container">
                    <p class="lead text-left">Test!</p>
</div>