@page "/"


<PageTitle>Matt's Landing Page</PageTitle>
<h1>Welcome!</h1>


<div class="container">
    <p style="font-size:1.75em" >Welcome to my web site. I hope to use this as a venue to display my experiences and projects.</p>
    <div>
        <img class="image" src="/css/Headshot2020.jpg" alt="Image of Matt Marlow" style="width:30%;height:30%;" />
        <p>An image of me in a suit.</p>
    </div>
</div>





@*<SurveyPrompt Title="Test"></SurveyPrompt>
*@