@page "/"


<PageTitle>Matt's Landing Page</PageTitle>



<div class="container">
       
        <p style="font-size:1.75em">Welcome to my web site. I hope to use this as a venue to display my experiences and projects.</p>
        <div>
            <img class="flex-item"src="/css/Headshot2020.jpg" alt="Image of Matt Marlow" />
            <p>An image of me in a suit.</p>
        </div>
    
    
</div>





@*<SurveyPrompt Title="Test"></SurveyPrompt>
*@