@page "/"

<PageTitle>Matt's Landing Page</PageTitle>




<main>
    
    @* https://getbootstrap.com/docs/5.0/utilities/spacing/ *@
    @* Information about py-4, p-5, etc can be found on the above link. *@
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="pe-5 pt-0 pb-5">
                <img src="assets/Headshot2020.jpg" alt="Headshot" class="img-fluid float-end col-3      "/>
                </div>
            <div class="container-fluid py-5">

                <h1 class="display-5 fw-bold ">Welcome to quantumblink.xyz!</h1>
                <p class=" fs-4">Welcome to my website! My name is Matt Marlow, and this site will serve as a living document of my experiences, thoughts, and work.</p>
                <p class=" fs-4"></p>
            </div>

        </div>
    </div>
</main>



