@page "/"

<PageTitle>Matt's Landing Page</PageTitle>




<main>
    
    @* https://getbootstrap.com/docs/5.0/utilities/spacing/ *@
    @* Information about py-4, p-5, etc can be found on the above link. *@
    <div class="container py-3">
        <div class="p-2 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 text-center">
                <h1 class="display-1 fw-bold ">Matt Marlow</h1>
                <h2 class="display-5 ">Collegiate Software Engineer</h2>
            </div>
            
        </div>
    </div>
    <div class="container bg-light text-center rounded-3 py-3" >
        <h3 class="display-5">Quick Facts</h3>
    </div>
    <div class="pt-5">
            <AccordionContainer></AccordionContainer>

    </div>
    
</main>



