@page "/"

<PageTitle>Matt's Landing Page</PageTitle>

<div class="main-container">
    <div class="panel-container justify-content-center">
        <div class="left-panel">
            <div class="header">
                <div>
                    <h1>Welcome!</h1>
                </div>
            </div>
            <div class="content">
                <p>Welcome to my personal site. I hope to use this as a place where you can learn more about me, my projects, and my ideas.</p>
                <p>I am just learning web development, so many aspects of this website won't be perfect. I hope that this place can serve as a living example of my progression!</p>
            </div>
        </div>
        <div class="right-panel">
            <div class="image">
                @* <img src="/Images/Headshot2020.jpg" alt="Image of Matt Marlow"/> *@
            </div>
        </div>
      
    </div>
</div>
