@page "/"

<PageTitle>Matt's Landing Page</PageTitle>

<div class="jumbotron">
    <div>
        <div>
            <h1 class="display-4">Welcome to my site!</h1>
            <p class="lead">Welcome to my personal site. I hope to use this as a place where you can learn more about me, my projects, and my ideas.</p>
            <p class="lead">I am just learning web development, so many aspects of this website won't be perfect. I hope that this place can serve as a living example of my progression!</p>
        </div>
    </div>
</div>