<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="col-3">
      <div class="text-center bg-dark text-white py-1 rounded">
        <h1>About Me</h1>
      </div>
      <div class="accordion " id="miscAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="skillsHeading">
            <button class="accordion-button" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" type="button" data-bs-toggle="collapse" data-bs-target="#skillsCollapse" aria-expanded="true" aria-controls="skillsCollapse">
              <h4>Education</h4>
            </button>
          </h2>
          <div id="skillsCollapse" class="accordion-collapse collapse show" aria-labelledby="skillsHeading" data-bs-parent="#miscAccordion">
            <div class="accordion-body">
              <h5 class="border-bottom"><strong>Degree</strong></h5>
              <p>BS in Computer Science at University of Missouri-Columbia</p>
              <h5 class="border-bottom"><strong>Graduation Date</strong></h5>
              <p>May 2025</p>
              <h5 class="border-bottom"><strong>GPA</strong></h5>
              <p>3.75/4 | <strong>Named to High Dean's List</strong></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="educationHeading">
            <button class="accordion-button collapsed" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" type="button" data-bs-toggle="collapse" data-bs-target="#educationCollapse" aria-expanded="false" aria-controls="educationCollapse">
              <h4>Skills</h4>
            </button>
          </h2>
          <div id="educationCollapse" class="accordion-collapse collapse" aria-labelledby="educationHeading" data-bs-parent="#miscAccordion">
            <div class="accordion-body">
              <h5 class="border-bottom"><strong>Coding Skills</strong></h5>
              <p>Java, C, C++, C#, HTML, CSS, Rust, Python, Bash Shell</p>
              <h5 class="border-bottom"><strong>Technology</strong></h5>
              <p>GitHub, Git, Java Swing, Bootstrap, ASP.NET Blazor, Azure</p>
              <h5 class="border-bottom"><strong>Developer Tools</strong></h5>
              <p>JetBrains Suite (IntelliJ, CLion, Rider), VS Code</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="activityHeading">
            <button class="accordion-button collapsed" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" type="button" data-bs-toggle="collapse" data-bs-target="#activitiesCollapse" aria-expanded="false" aria-controls="activitiesCollapse">
              <h4>Extracurrriculars</h4>
            </button>
          </h2>
          <div id="activitiesCollapse" class="accordion-collapse collapse rounded" aria-labelledby="activityHeading" data-bs-parent="#miscAccordion">
            <div class="accordion-body">
              <h5 class="border-bottom"><strong>Mizzou Computing Association (MCA)</strong></h5>
              <p>Elected Treasurer for 2023-2024 year. Manage finances for org. I additionally lead a Object Oriented Programming Special Interest Group (SIG)</p>
              <h5 class="border-bottom"><strong>Mizzou TigerHacks</strong></h5>
              <p>Participant in 2021. Moved to Planning Committee in 2022 and helped manage corporate sponsorships and general advisement of the event.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="text-center bg-dark text-white py-1 rounded">
              <h1>Work Experience</h1>
            </div>
      <div class="accordion" id="workAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="workOneHeading">
            <button class="accordion-button" type="button" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" data-bs-toggle="collapse" data-bs-target="#workOneCollapse" aria-expanded="true" aria-controls="workOneCollapse">
              <h4>Enterprise Holdings</h4>
            </button>
          </h2>
          <div id="workOneCollapse" class="accordion-collapse collapse show" aria-labelledby="workOneHeading" data-bs-parent="#workAccordion">
            <div class="accordion-body">
              <h5 class="border-bottom">Software Engineer Intern | Summer 2023</h5>
              <p>I am excited to begin my internship with Enterprise this summer.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="workTwoHeading">
            <button class="accordion-button collapsed" type="button" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" data-bs-toggle="collapse" data-bs-target="#workTwoCollapse" aria-expanded="false" aria-controls="workTwoCollapse">
              <h4>iD Tech Camps</h4>
            </button>
          </h2>
          <div id="workTwoCollapse" class="accordion-collapse collapse" aria-labelledby="workTwoHeading" data-bs-parent="#workAccordion">
            <div class="accordion-body">
              <h5 class=""><strong>Camp Instructor</strong></h5>
              <h6 class="">June 2022 - August 2022</h6>
              <h6 class="border-bottom">Washington University in St. Louis</h6>
              <p class="border-bottom">In person instructor teaching courses in Minecraft modding using Java and general application development
                with Java. <strong>Tailored object oriented programming content and other material</strong> to preteens and teens
                while <strong>maintaining a fun and collaborative environment.</strong></p>
              <h5 class=""><strong>Camp Instructor</strong></h5>
              <h6 class="">April 2022</h6>
              <h6 class="border-bottom">Palo Alto High School</h6>
              <p class="border-bottom">Instructor at iD Tech’s Spring Break Camp lasting one week. <strong>Selected as one of nine from a national pool of
                instructors.</strong> In addition to teaching Minecraft modding with Java, also <strong>worked directly with curriculum
                developers to improve curricula </strong>for the upcoming summer season.</p>
              <h5 class=""><strong>Online Instructor</strong></h5>
              <h6 class="">July 2021 - August 2021</h6>
              <h6 class="border-bottom">Remote</h6>
              <p >Taught game design fundamentals via Minecraft to ages 7-12 over Zoom. Guided students through critical
                  thinking exercises, file management, custom textures with art programs, and understanding logic
                  gates with redstone.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="workThreeHeading">
            <button class="accordion-button collapsed" type="button" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" data-bs-toggle="collapse" data-bs-target="#workThreeCollapse" aria-expanded="false" aria-controls="workThreeCollapse">
              <h4>University of Missouri</h4>
            </button>
          </h2>
          <div id="workThreeCollapse" class="accordion-collapse collapse" aria-labelledby="workThreeHeading" data-bs-parent="#workAccordion">
            <div class="accordion-body">
              <h5 class=""><strong>Peer Learning Assistant </strong></h5>
              <h6 class="">January 2023 - present</h6>
              <h6 class="border-bottom">University of Missouri- Columbia</h6>
              <p class="border-bottom">PLA (undergraduate TA) for CMP_SC 1050, an introductory course surrounding the programming language C. Held office hours,
                graded labs, and worked with students and faculty to faciliate learning. Additionally, wrote various scripts to assist in grading and student interactions.</p>
              <h5 class=""><strong>Engineering Tutor</strong></h5>
              <h6 class="">September 2022 - December 2022</h6>
              <h6 class="border-bottom">University of Missouri - Columbia</h6>
              <p class>Tutored students weekly in topics relating to the courses CMP_SC 1050 and CMP_SC 2050. Taught C coding concepts in addition to data structures and coding best practices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
    <div class="text-center bg-dark text-white py-1 rounded">
                  <h1>Projects</h1>
                </div>
      <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button"  style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h4>quantumblink.xyz</h4>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h6 class="border-bottom"><strong>ASP.NET Blazor, HTML, CSS, Azure VPS</strong></h6>
                      <p>Developed personal website using ASP.NET Blazor Serverside and wrote frontend using HTML, CSS, and Bootstrap. Wrote custom Sass code to augment existing Bootstrap classes. Deployed using Microsoft Azure. You can view a demo of this project by continuing to use this site!</p>
                      <a class="btn btn-purple text-white" type="button" role="button" href="https://github.com/QuantumBlink1337/QuantumBlinkSite">GitHub Repo</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4>"Obsinite" Minecraft Mod</h4>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h6 class="border-bottom"><strong>Java, Gradle, Minecraft Forge API</strong></h6>
                      <ul>
                        <li> Add-on for the video game ”Minecraft” to add additional content, such as blocks and items with custom
                          scripts.</li>
                        <li>Extended functionality of the game’s existing codebase using the Minecraft Forge modding API.</li>
                        <li>Configured <strong>Gradle</strong> build environmeent to ease setup for open-source contributors.</li>
                      </ul>
                      <a class="btn btn-purple text-white" type="button" role="button" href="https://github.com/QuantumBlink1337/Obsinite-Mod">GitHub Repo</a>
                    </div>
                  </div>  
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" style="--bs-accordion-active-bg: #8068dd; --bs-accordion-active-color:  #ffffff; --bs-accordion-border-color: #000000" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4>TownBuilder Game</h4>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h6 class="border-bottom"><strong>Java, Swing</strong></h6>
                      <ul>
                        <li> Puzzle game based on board game ”Tiny Towns” where the user must place resources on a grid to create
                          buildings for points.</li>
                        <li> Used the Swing GUI library to create front-end UI. Implemented event handlers to sync back-end actions
                          with user interface</li>
                        <li>
                          Designed a class hierarchy with UML to implement unique behavior with interfaces and subclasses and
                          developed search algorithms to detect instances of patterns within a larger grid.</li>
                      </ul>
                      <a class="btn btn-purple text-white" type="button" role="button" href="https://github.com/QuantumBlink1337/TownBuilder">GitHub Repo</a>
                    </div>
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>


      
        
        
        
      

      @code {
    
}