@inherits LayoutComponentBase

<PageTitle>Matt Marlow</PageTitle>

<div class>
   @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
