@inherits LayoutComponentBase

<PageTitle></PageTitle>

<div>
    <div class="nav-bar">
        <TopNavBar Title="Home"></TopNavBar>
    </div>
    

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
