@* <h3>TopNavBar</h3> *@

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@Title</a>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle btn btn-purple text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="False">Work Experience</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">iD Tech</a></li>
                    <li><a class="dropdown-item" href="#">Mizzou</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown ps-2">
                <a class="nav-link dropdown-toggle btn btn-purple text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="False">Projects</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">This Site</a></li>
                    <li><a class="dropdown-item" href="#">TownBuilder</a></li>
                    <li><a class="dropdown-item" href="#">Apollo 404</a></li>
                    <li><a class="dropdown-item" href="#">Miscellanous</a></li>
                    <li><a class="dropdown-item" href="#">Future Ideas</a></li>
                </ul>
            </li>
            <div>
                
            </div>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public string? Title { get; set; }
    
}