@* <h3>TopNavBar</h3> *@



<img src="assets/Circular Logo.png" class="img-fluid fixed-top position-absolute start-50 translate-middle pt-5 pb-0"   width="128">
@* <button class=" fixed-top position-absolute start-50 translate-middle btn pt-0 pb-0 btn-primary invisible"  style=" --bs-btn-padding-y: 10rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1.25rem;">Test</button> *@
@* <button class=" fixed-top position-absolute start-50 translate-middle btn pt-5 pb-5 btn-primary invisible"  style=" --bs-btn-padding-y: 10rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1.25rem;">Test2</button> *@
@* <a class=" fixed-top position-absolute start-50 translate-middle btn pt-5 pb-5  text-primary"  href="aboutme" style=" --bs-btn-padding-y: 10rem; --bs-btn-padding-x: 0.01rem; --bs-btn-font-size: 5.5rem; --bs-text-opacity: 0">Test3</a> *@

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid pe-5">
        <a class="navbar-brand" href="#">
            <img class="d-inline-block al" src="/assets/multigear-white.png" alt="Icon" style="width: 64px; height: 64px;">
        </a>
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown ms-3">
                <button class="dropdown-toggle btn btn-purple text-white" style=" --bs-btn-padding-y: .50rem; --bs-btn-padding-x: 3.5rem; --bs-btn-font-size: 1.25rem;" id="navbarDropdown" type="button" role="button" data-bs-toggle="dropdown" aria-expanded="False">Work Experience</button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">iD Tech</a></li>
                    <li><a class="dropdown-item" href="#">Mizzou</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-5">
                <button class="dropdown-toggle btn btn-purple text-white" style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 1.25rem;" id="navbarDropdown" type="button" role="button" data-bs-toggle="dropdown" aria-expanded="False">Projects</button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">This Site</a></li>
                    <li><a class="dropdown-item" href="#">TownBuilder</a></li>
                    <li><a class="dropdown-item" href="#">Apollo 404</a></li>
                    <li><a class="dropdown-item" href="#">Miscellanous</a></li>
                    <li><a class="dropdown-item" href="#">Future Ideas</a></li>
                </ul>
            </li>
        </div>
    </div>
    <div class="container-fluid justify-content-end ">
        <li class="nav-item ps-5">
            <a class="btn btn-purple text-white me-5" style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 3.5rem; --bs-btn-font-size: 1.25rem;" type="button" role="button" href="https://drive.google.com/uc?export=download&id=1X1V3ZRX7lpZLEtihWL9hT65r3rI36exW" aria-expanded="False" >Current Résumé</a>
        </li>
        <li class="nav-item me-5">
            <a class="btn btn-purple text-white" style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 1.25rem;" type="button" role="button" href="https://drive.google.com/uc?export=download&id=1X1V3ZRX7lpZLEtihWL9hT65r3rI36exW" aria-expanded="False" >Blog</a>
            </li>
    </div>
    <a class="navbar-brand" href="https://www.linkedin.com/in/matthew-marlow-973001220/">
            <i class="fa fa-2x fa-linkedin"></i>
            </a>
    <a class="navbar-brand" href="https://github.com/QuantumBlink1337">
        <i class="fa fa-2x fa-github"></i>
    </a>
    
</nav>


@* @code { *@
@*     [Parameter] *@
@*     public string? Title { get; set; } *@
@*      *@
@* } *@